mixin navlink(text,location)
    li.nav-item
    a.nav-link(href=location)= text

.navbar.space-top-page.navbar-expand-xl.bg-dark
  a.navbar-brand(href='/') Nihar Patel
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
    .navbar.nav.left
        +navlink('Home','/')
        +navlink('About me','/about')
        +navlink('Project','/project')
        +navlink('Contact','/contact')


    //-   li.nav-item.active
    //-     a.nav-link(href='/')
    //-       | Home 
    //-       span.sr-only (current)
    //-   li.nav-item
    //-     a.nav-link(href='#') About 
    //-   li.nav-item
    //-     a.nav-link(href='#') Contact  
    //- ul.ml-auto
    //-   li.nav-item
    //-     a.nav-link(href='#') login                
    