extends layout
 
block content
  
    p.container.text-white.bg-info.
     I am student of Georgian college enrolled in the fourth semester of the computer programmer Coop program. I choose computer programming because I love
     to develop software using new concept of AI. I have very good skills in running JAVA, C++, and R which are good useful in app-development.
     I am learning python and Data-analysis to sharp my skills in field of machine learning. 
   




