//- Author-name- Nihar Patel
//- File-name- about.pug
//- File-description- This file is used to discribe myself
extends layout
 
block content
<!-- wrap it in a container to make site responsive -->
  div.text-center.text-white.bg-warning.container
    h1 A litte about me 
<!-- Justifty text in an container-->
  div.container.text-white.bg-info.display-4.text-justify
    p I am a student Georgian college enrolled in the fourth semester of the computer programmer Coop program.I like designing responsive website with the help of Bootstrap and CMS. I am good at developing the client-side website by using PHP and Jquery. Now I am learning to develop skills in developing a server-side application by learning JavaScript 




