extends layout
 
block content
  div.text-center.text-white.bg-warning.container
    h1 A litte about me 
  div.container.text-white.bg-info.display-4.text-justify
    p I am a student Georgian college enrolled in the fourth semester of the computer programmer Coop program.I like designing responsive website with the help of Bootstrap and CMS. I am good at developing the client-side website by using PHP and Jquery. Now I am learning to develop skills in developing a server-side application by learning JavaScript 




