extends layout
  
block content
  h1.text-white.text-center.
    Computer Programmer 
  
  p.text-white.
      I am student of Georgian college enrolled in the forth semester of computer programmer Coop program. 

