extends layout
 
block content
  .align-items-center
    .col.text-white
      h1.
        Computer Programmer 
      p.
       I am student of Georgian college enrolled in the forth semester of computer programmer Coop program. 


