//- Author-name- Nihar Patel
//- File-name- index.pug
//- File-description- This file is just a home page 
extends layout
 
block content
  
    .col.text-white
      h1.display-1.text-center.
        Computer Programmer 


