extends layout

block content
	.container
		h1.text-white Login Form
		form(method="post")
			.form-group.text-white
				label Username
				input.form-control(name="username")
			.form-group.text-white
				label Password
				input.form-control(name="password")
			if error && error.length
				.alert.alert-danger= error
			button.btn.btn-success Submit