extends layout
 
block content
   h1.text-white.bg-warning.text-center Java  
   p.container.text-white.bg-info.h2.text-justify This Java Project is based on bank-account which follow all banking rule and pass all test. This project allows us to create a bank account, delete the account, process transactions, and more. To  learn more follow up this GitHub link and click here 
   a.btn-link.h1.badge-success(href='https://github.com/niharmpatel/Java_Project_Bank_Account') Bank-Account
   h1.text-white.bg-warning.text-center PHP  
   p.container.text-white.bg-info.h2.text-justify Web-from application for music playlist using PHP which has several functions such as user authentication, authorization, CURD operation, inserting image file and display it, error handling, the common header, and footer, connecting database. To get more information please check this GitHub URL by clicking the button given below
   a.btn-link.h1.badge-success(href='https://github.com/niharmpatel/Assignment_1') Music 
   h1.text-white.bg-warning Internet of Things   
   p.container.text-white.bg-info.h2.text-justify I have created a Smart Knock Pattern Detecting Door Lock using Arduino. Once the device turns on we have to press a button to insert a specific pattern and then that pattern will be saved in device. So, every time when we need to open the door we have entered that particular pattern. Please check image for more information 
   img(src='/images/img2.jpg', alt='Arduino')

   
    
 
