extends layout
 
block content
   h1.text-white.bg-warning.text-center. 
      Java  
   p.container.text-white.bg-info.h2.
      This Java Project is based on bank-account which follow all banking rule and pass all test. This project allow us to create an bank acount, delete account, 
      procees transactions, and more. To  learn more follow up this GitHub link and click here 
   a.btn-link.h1.badge-success.align-item-center(href='https://github.com/niharmpatel/Java_Project_Bank_Account') Bank-Account

   h1.text-white.bg-warning.text-center. 
    PHP  
   p.container.text-white.bg-info.h2.
    Web-from application for music playlist using PHP which have several function such as user authentication, authorizaton, CURD opration, inseting image file and display 
    it, error handling, common header and footer, connecting database. To get more information please check this GitHub URL by clicking button given below
   a.btn-link.h1.badge-success(href='https://github.com/niharmpatel/Assignment_1') Music 
   h1.text-white.bg-warning. 
    Internet of Things   
   p.container.text-white.bg-info.h2.
    I have created a Smart Knock Pattern Detecting Door Lock using Arduino. Once device  turn on we have to press a button to insert a specific pattern and 
    then that pattern wil be saved in device. So, every time when we need to open door we have enter that particular pattern. Please check image for more
    information 
   img(src='/images/img2.jpg', alt='Arduino')

   
    
 
