extends layout
 
block content
    h1.display-4.text-center.text-white.bg-warning.container The list of services provided are as follow:
    ol.h2.text-white.bg-info.container
      li HTML
      li CSS
      li JavaScript
      li PHP
      li Java
      li C#
      li ASP.NET
      li Mainframe
      li Python 
      li Wordpress
      li SQL
      li MongoDB